@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.bg-light {
  background-color: gray !important; }

.navbar {
  padding: 20px 0 20px 0; }

.navbar-collapse {
  flex-grow: 0; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0 20px 0 20px; }

.nav-link.active {
  font-size: 30px; }

/*---AYUDA MAIN ---*/
.accordion-button:not(.collapsed) {
  color: black;
  background-color: white; }

.accordion-button:focus {
  border-color: black;
  box-shadow: var(--bs-accordion-btn-focus-border-color); }

/*---CONTACTO MAIN ---*/
/*---REGISTRAR MAIN ---*/
.dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease; }

#dot-1:checked ~ .categoria label .uno,
#dot-2:checked ~ .categoria label .dos,
#dot-3:checked ~ .categoria label .tres {
  background: green;
  border-color: #d9d9d9; }

form input[type="radio"] {
  display: none; }

/*!----VARIABLES----!*/
.ayuda, .registro {
  background: beige;
  font-family: Arial, Helvetica, sans-serif; }

header div a img {
  width: 100px;
  height: 100px; }

.hero-section {
  background: linear-gradient(rgba(28, 99, 2, 0.127), rgba(28, 99, 2, 0.111)), url(../img/cancha-futbo-mediano.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 60px; }
  .hero-section .hero {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px; }
    .hero-section .hero h1 {
      font-size: 60px; }
    .hero-section .hero span {
      font-size: 60px; }
  .hero-section form div {
    display: flex;
    text-align: center;
    justify-content: center; }
    .hero-section form div div {
      display: flex;
      margin: 50px 0 50px 0;
      padding: 0 30px 0 30px; }
      .hero-section form div div select {
        font-size: 16px;
        padding: 15px; }
  .hero-section section h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding: 50px; }
  .hero-section section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center; }
    .hero-section section div {
      padding: 10px;
      margin: 30px; }
      .hero-section section div img {
        width: 150px;
        height: 150px; }

/*!------QUIENES SOMOS MAIN------*/
.quienessomos {
  background-image: none;
  background-color: beige;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px; }
  .quienessomos .titulo-quienessomos {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 40px; }
  .quienessomos .texto-uno {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px; }
    .quienessomos .texto-uno div {
      width: 60%;
      text-align: center; }
    .quienessomos .texto-uno img {
      width: 450px;
      height: 450px;
      padding-left: 10px; }
  .quienessomos .texto-dos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 25px; }
    .quienessomos .texto-dos div {
      width: 60%;
      text-align: center; }
    .quienessomos .texto-dos img {
      width: 450px;
      height: 450px;
      padding-right: 10px; }

/*!-----AYUDA MAIN------*/
.ayuda {
  background-image: none;
  color: black;
  padding: 60px; }
  .ayuda .titulo-ayuda {
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 40px; }

/*!-----CONTACTO MAIN------*/
.contact-page {
  min-height: 100vh;
  padding: 80px 0;
  background: beige; }
  .contact-page section .container div div .contacto-form {
    width: 100%;
    float: left; }
    .contact-page section .container div div .contacto-form h1 {
      margin: 0 0 25px;
      font-family: Arial, Helvetica, sans-serif; }
    .contact-page section .container div div .contacto-form .formulario-contacto {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      float: left; }
      .contact-page section .container div div .contacto-form .formulario-contacto li {
        margin-bottom: 30px;
        width: 50%;
        float: left;
        padding-right: 15px; }
        .contact-page section .container div div .contacto-form .formulario-contacto li .form-control {
          border: 2px solid #e1e1e1;
          background: #fafafa;
          color: #555555;
          height: 53px;
          line-height: 49px;
          padding: 0 20px; }
      .contact-page section .container div div .contacto-form .formulario-contacto .full {
        width: 100%;
        float: left; }
        .contact-page section .container div div .contacto-form .formulario-contacto .full .textarea-control {
          border: 2px solid #e1e1e1;
          background: #fafafa;
          color: #555555;
          padding: 20px;
          width: 100%;
          height: 165px;
          border-radius: 5px; }
      .contact-page section .container div div .contacto-form .formulario-contacto .full {
        width: 100%;
        float: left; }
        .contact-page section .container div div .contacto-form .formulario-contacto .full .fsubmit {
          width: 100%;
          border-radius: 5px;
          text-align: center;
          color: #fff;
          background: #66bb6a;
          border: 0px;
          height: 55px;
          line-height: 55px;
          text-transform: uppercase;
          font-family: 'Poppins', sans-serif;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer; }
          .contact-page section .container div div .contacto-form .formulario-contacto .full .fsubmit:hover {
            background-color: green; }
  .contact-page section .container div .google-map {
    width: 100%;
    float: left;
    position: relative; }
    .contact-page section .container div .google-map iframe {
      width: 100%;
      height: 485px;
      border: 0px; }
  .contact-page section .container {
    margin-top: 70px; }
    .contact-page section .container div div h3 {
      font-weight: 700;
      margin: 0 0 25px; }
    .contact-page section .container div div .c-info {
      background: #ffffff;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      padding: 30px; }
      .contact-page section .container div div .c-info h6 {
        font-weight: 600;
        color: #333333;
        font-size: 20px; }
      .contact-page section .container div div .c-info p {
        margin: 0px;
        color: #555555;
        font-size: 16px;
        line-height: 26px; }

/*!-----INGRESAR MAIN------*/
.ingresar {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: beige;
  font-family: "Poppins", sans-serif;
  height: 800px;
  position: relative; }
  .ingresar .inicio-sesion {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05); }
    .ingresar .inicio-sesion h1 {
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid silver;
      color: black; }
    .ingresar .inicio-sesion .ingreso {
      padding: 0 40px;
      box-sizing: border-box; }
      .ingresar .inicio-sesion .ingreso .formulario {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0; }
        .ingresar .inicio-sesion .ingreso .formulario input {
          width: 100%;
          padding: 0 5px;
          height: 40px;
          font-size: 16px;
          border: none;
          background: none;
          outline: none; }
          .ingresar .inicio-sesion .ingreso .formulario input:focus ~ label {
            top: -5px;
            color: #2691d9; }
          .ingresar .inicio-sesion .ingreso .formulario input:valid ~ label {
            top: -5px;
            color: #2691d9; }
          .ingresar .inicio-sesion .ingreso .formulario input:focus {
            width: 100%; }
          .ingresar .inicio-sesion .ingreso .formulario input:valid {
            width: 100%; }
        .ingresar .inicio-sesion .ingreso .formulario span:before {
          position: absolute;
          top: 40px;
          left: 0;
          width: 0%;
          height: 2px;
          background: #2691d9;
          transition: .5s; }
        .ingresar .inicio-sesion .ingreso .formulario label {
          position: absolute;
          top: 50%;
          left: 5px;
          color: #adadad;
          transform: translateY(-50%);
          font-size: 16px;
          pointer-events: none;
          transition: .5s; }
      .ingresar .inicio-sesion .ingreso .contrase単a {
        margin: -5px 0 20px 5px;
        color: black;
        cursor: pointer; }
      .ingresar .inicio-sesion .ingreso .boton-ingresar {
        width: 100%;
        height: 50px;
        border: 1px solid;
        background: #2691d9;
        border-radius: 25px;
        font-size: 18px;
        color: #e9f4fb;
        font-weight: 700;
        cursor: pointer;
        outline: none; }
        .ingresar .inicio-sesion .ingreso .boton-ingresar:hover {
          border-color: #2691d9;
          transition: .5s; }
      .ingresar .inicio-sesion .ingreso .linkeo {
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #666666; }
        .ingresar .inicio-sesion .ingreso .linkeo a {
          color: #2691d9;
          text-decoration: none; }
          .ingresar .inicio-sesion .ingreso .linkeo a:hover {
            text-decoration: underline; }

/*!-----REGISTRAR MAIN------*/
.registro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; }
  .registro .container-registro {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); }
    .registro .container-registro .titulo-registro {
      font-size: 25px;
      font-weight: 500;
      position: relative; }
    .registro .container-registro .contenido form .formulario-registro {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0; }
      .registro .container-registro .contenido form .formulario-registro .caja {
        margin-bottom: 15px;
        width: calc(100% / 2 - 20px); }
        .registro .container-registro .contenido form .formulario-registro .caja .detalles {
          display: block;
          font-weight: 500;
          margin-bottom: 5px; }
        .registro .container-registro .contenido form .formulario-registro .caja input {
          height: 45px;
          width: 100%;
          outline: none;
          font-size: 16px;
          border-radius: 5px;
          padding-left: 15px;
          border: 1px solid #ccc;
          border-bottom-width: 2px;
          transition: all 0.3s ease; }
          .registro .container-registro .contenido form .formulario-registro .caja input:focus {
            border-color: green; }
          .registro .container-registro .contenido form .formulario-registro .caja input:valid {
            border-color: green; }
    .registro .container-registro .contenido form .genero-detalles .genero-titulo {
      font-size: 20px;
      font-weight: 500; }
    .registro .container-registro .contenido form .genero-detalles .categoria {
      display: flex;
      width: 80%;
      margin: 14px 0;
      justify-content: space-between; }
      .registro .container-registro .contenido form .genero-detalles .categoria label {
        display: flex;
        align-items: center;
        cursor: pointer; }
    .registro .container-registro .contenido form .boton-registro {
      height: 45px;
      margin: 35px 0; }
      .registro .container-registro .contenido form .boton-registro input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        background: #66bb6a; }
        .registro .container-registro .contenido form .boton-registro input:hover {
          background: green; }

/*!-----NUESTRAS CANCHAS MAIN------*/
.nuestras-canchas {
  background-color: beige; }
  .nuestras-canchas .titulo-canchas {
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif; }
  .nuestras-canchas .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 10px; }
    .nuestras-canchas .galeria .galeria-item:nth-child(3) {
      grid-row-start: span 2; }
    .nuestras-canchas .galeria .galeria-item:nth-child(4) {
      grid-column-start: span 2; }
    .nuestras-canchas .galeria .galeria-item:nth-child(5) {
      grid-row-start: span 2; }
    .nuestras-canchas .galeria .galeria-item .galeria-imagen {
      width: 100%;
      height: 100%;
      object-fit: cover; }

footer {
  background-color: #aba9a9;
  font-family: sans-serif;
  padding-top: 10px; }
  footer div {
    display: flex;
    justify-content: space-evenly; }
    footer div div ul {
      list-style: none; }
      footer div div ul li a {
        text-decoration: none;
        color: black;
        display: block;
        margin-bottom: 16px; }
        footer div div ul li a:hover {
          color: black; }
    footer div div a img {
      width: 30px;
      height: 30px;
      margin: 5px;
      transition: 2s; }
      footer div div a img:hover {
        transform: rotateZ(360deg); }

/*!---ADAPTATIVE INDEX---!*/
@media (max-width: 910px) {
  .hero-section .hero h1 {
    font-size: 45px;
    padding: 30px; }
  .hero-section .hero span {
    font-size: 45px; } }

@media (max-width: 850px) {
  .hero-section form .dise単o .buscador {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .hero-section form .dise単o .buscador .item {
      font-size: 15px;
      padding: 8px; } }

@media (max-width: 815px) {
  .indicaciones {
    font-size: 17.5px; }
  .img-pasos {
    width: 125px;
    height: 125px; } }

@media (max-width: 700px) {
  .hero-section .hero h1 {
    font-size: 35px;
    padding: 0 0 10px 0; }
  .hero-section .hero span {
    font-size: 35px;
    padding: 10px 0 0 0; }
  .hero-section section .tutorial {
    height: 100px;
    padding: 30px; }
  .hero-section .indicaciones {
    font-size: 15px; }
    .hero-section .indicaciones .pasos .img-pasos {
      width: 100px;
      height: 100px; } }

@media (max-width: 560px) {
  .hero-section section .tutorial {
    height: 165px; } }

@media (max-width: 455px) {
  .hero-section .hero {
    padding: 0; }
    .hero-section .hero h1 {
      font-size: 25px; }
    .hero-section .hero span {
      font-size: 25px;
      padding: 0; }
  .hero-section form .dise単o .buscador {
    margin: 20px 0 20px 0;
    padding: 0 15px 0 15px;
    font-size: 15px; }
  .hero-section section .tutorial {
    font-size: 20px; } }

/*!---ADAPTATIVE QUIENES SOMOS---!*/
@media (max-width: 910px) {
  .quienessomos .texto-uno {
    font-size: 20px; }
    .quienessomos .texto-uno img {
      width: 350px;
      height: 350px; }
  .quienessomos .texto-dos {
    font-size: 20px; } }

@media (max-width: 750px) {
  .quienessomos .titulo-quienessomos {
    font-size: 35px;
    margin-bottom: 30px; }
  .quienessomos .texto-uno {
    font-size: 15px; }
    .quienessomos .texto-uno img {
      width: 300px;
      height: 300px;
      padding-bottom: 10px; }
  .quienessomos .texto-dos {
    font-size: 15px; }
    .quienessomos .texto-dos img {
      width: 300px;
      height: 300px;
      padding-top: 10px; } }

@media (max-width: 550px) {
  .quienessomos .texto-uno {
    display: block;
    text-align: -webkit-center; }
    .quienessomos .texto-uno img {
      width: 200px;
      height: 200px; }
  .quienessomos .texto-dos {
    display: block;
    text-align: -webkit-center; }
    .quienessomos .texto-dos img {
      width: 200px;
      height: 200px; } }

@media (max-width: 450px) {
  .quienessomos .titulo-quienessomos {
    font-size: 25px;
    margin-bottom: 20px; }
  .quienessomos .texto-uno {
    font-size: 12px; }
    .quienessomos .texto-uno img {
      width: 160px;
      height: 160px; }
  .quienessomos .texto-dos {
    font-size: 12px; }
    .quienessomos .texto-dos img {
      width: 160px;
      height: 160px; } }

/*!-----ADAPTATIVE REGISTRAR-----!*/
@media (max-width: 584px) {
  .registro {
    height: 1000px; }
    .registro .container-registro {
      max-width: 100%; }
      .registro .container-registro .contenido form .formulario-registro .caja {
        margin-bottom: 15px;
        width: 100%; }
        .registro .container-registro .contenido form .formulario-registro .caja .detalles {
          max-height: 300px; }
      .registro .container-registro .contenido form .formulario-registro .genero-detalles .categoria {
        width: 100%; } }

@media (max-width: 459px) {
  .container-registro .contenido .categoria {
    flex-direction: column; } }

/*!-----ADAPTATIVE FOOTER-----!*/
@media (max-width: 450px) {
  .redes {
    display: grid;
    grid-template-columns: 1fr, 1fr; } }

/*!-----ADAPTATIVE NUESTRAS CANCHAS-----!*/
@media (max-width: 1000px) {
  .nuestras-canchas .galeria {
    grid-template-columns: repeat(2, 1fr); }
    .nuestras-canchas .galeria .galeria-item:nth-child(4) {
      grid-column-start: span 1; }
    .nuestras-canchas .galeria .galeria-item:nth-child(5) {
      grid-row-start: span 1; } }

@media (max-width: 650px) {
  .nuestras-canchas .galeria {
    grid-template-columns: 1fr; }
    .nuestras-canchas .galeria .galeria-item:nth-child(3) {
      grid-row-start: span 1; } }

@media (max-width: 500px) {
  .nuestras-canchas .titulo-canchas {
    font-size: 25px; } }
