/*!-------RESET-------*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*!-------HEADER-------*/

.bg-light {
    background-color: gray !important
}

.navbar {
    padding: 20px 0 20px 0;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 20px 0 20px;
}

.nav-link.active {
    font-size: 30px;
}

.img-principal {
    width: 100px;
    height: 100px;
}

/*!--------MAIN--------*/

.hero-section {
    background-image: url(../img/cancha-futbo-mediano.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 60px;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    font-size: 60px;
}

.diseño {
    display: flex;
    justify-content: center;
    text-align: center;
}

.buscador {
    display: flex;
    margin: 50px 0 50px 0;
    padding: 0 30px 0 30px;
}

.item {
    font-size: 16px;
    padding: 15px;
}

.tutorial {
    justify-content: center;
    display: flex;
    text-align: center;
    height: 100%;
    padding: 50px;
}

.indicaciones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    text-align: center;
}

.pasos {
    padding: 10px;
    margin: 30px;
}

.img-pasos {
    width: 150px;
    height: 150px;
}

/*!-------FOOTER-------*/
.pie-de-pagina {
    background-color: rgb(171, 169, 169);
    font-family: sans-serif;
    padding-top: 10px;
}

.pie {
    display: flex;
    justify-content: space-around;
}

.links ul li a {
    text-decoration: none;
    color: black;
    display: block;
    margin-bottom: 16px;
}

.links ul {
    list-style: none;
}

.pie-de-pagina div a img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

/*!------QUIENES SOMOS MAIN-------*/
.quienessomos {
    background-image: none;
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.titulo-quienessomos {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 40px;
}

main img {
    width: 450px;
    height: 450px;
}

.texto-uno {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.texto-uno div {
    width: 60%;
    text-align: center;
}

.texto-dos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 25px;
}

.texto-dos div {
    width: 60%;
    text-align: center;
}

/*!----AYUDA MAIN----!*/

.ayuda {
    background-image: none;
    background-color: beige;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
}

.titulo-ayuda {
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: white;
}

.accordion-button:focus {
    border-color: black;
    box-shadow: var(--bs-accordion-btn-focus-border-color);
}

/*!------CONTACTO MAIN------!*/
.google-map {
    width: 100%;
    float: left;
    position: relative;
}

.google-map iframe {
    width: 100%;
    height: 485px;
    border: 0px;
}

.formulario {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
}

.formulario li {
    margin-bottom: 30px;
}

.formulario li:last-child {
    margin: 0px;
}

.formulario li.half {
    width: 50%;
    float: left;
}

.f-c-i {
    padding-left: 15px;
}

.f-c-d {
    padding-right: 15px;
}

.formulario li.full {
    width: 100%;
    float: left;
}

.formulario .form-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    height: 53px;
    line-height: 49px;
    padding: 0 20px;
}

.formulario textarea.textarea-control {
    border: 2px solid #e1e1e1;
    background: #fafafa;
    color: #555555;
    padding: 20px;
    width: 100%;
    height: 165px;
    border-radius: 5px;
}

.formulario .fsubmit {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background: #66bb6a;
    border: 0px;
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.formulario .fsubmit:hover {
    background: #33691e;
    color: #fff;
}

.contacto-form h1 {
    font-weight: 700;
    margin: 0 0 25px;
}

.c-info {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 30px;
}

.c-info:hover {
    box-shadow: 0 0 0 0.2rem rgba(102, 187, 106, .25);
}

.contact-map-info h6,
.c-info h6 {
    font-weight: 600;
    color: #333333;
    font-size: 20px;
}

.contact-map-info p,
.c-info p {
    margin: 0px;
    color: #555555;
    font-size: 16px;
    line-height: 26px;
}

.contact-info {
    margin-top: 70px;
}

.contact-info h3 {
    font-weight: 700;
    margin: 0 0 25px;
}

.contacto-form {
    width: 100%;
    float: left;
}

.mb60 {
    margin-bottom: 60px;
}

.contact-map-info {
    background: #fff;
    border-radius: 5px;
    width: 350px;
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 30px;
}

.contact-map-info ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.contact-map-info ul li {
    margin-bottom: 30px;
}

.contact-map-info ul li:last-child {
    margin: 0px;
}

.contact-page {
    min-height: 100vh;
    padding: 80px 0;
    background: beige;
}

/*!----REGISTRAR MAIN-----!*/

.registro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.container-registro {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container-registro .titulo-registro {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contenido form .formulario-registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.formulario-registro .caja {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}

.detalles {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.formulario-registro .caja input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.formulario-registro .caja input:focus,
.formulario-registro .caja input:valid {
    border-color: green;
}

.genero-detalles .genero-titulo {
    font-size: 20px;
    font-weight: 500;
}

.categoria {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.categoria label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.categoria label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.categoria label .uno,
#dot-2:checked~.categoria label .dos,
#dot-3:checked~.categoria label .tres {
    background: green;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

.boton-registro {
    height: 45px;
    margin: 35px 0
}

.boton-registro input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background: green;
}

.boton-registro input:hover {
    background: green;
}

/*!------INGRESAR MAIN------*/
.ingresar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: beige;
    font-family: "Poppins", sans-serif;
}

.inicio-sesion {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.inicio-sesion h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.ingreso {
    padding: 0 40px;
    box-sizing: border-box;
}

.formulario {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.formulario input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.formulario label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.formulario span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.formulario input:focus~label,
.formulario input:valid~label {
    top: -5px;
    color: #2691d9;
}

.formulario input:focus .formulario input:valid {
    width: 100%;
}

.contraseña {
    margin: -5px 0 20px 5px;
    color: black;
    cursor: pointer;
}

.boton-ingresar {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.boton-ingresar:hover {
    border-color: #2691d9;
    transition: .5s;
}

.linkeo {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.linkeo a {
    color: #2691d9;
    text-decoration: none;
}

.linkeo a:hover {
    text-decoration: underline;
}

/*!---ADPTATIVE---!*/
@media (max-width:992px) {
    .btn {
        --bs-btn-padding-x: 20px;
    }
}

@media (max-width:910px) {
    .hero h1 {
        font-size: 45px;
        padding: 30px;
    }

    .hero span {
        font-size: 45px;

    }

    @media (max-width: 850px) {
        .buscador {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 815px) {

            .img-pasos {
                width: 125px;
                height: 125px;
            }

            .indicaciones {
                font-size: 17.5px;
            }
        }

        @media (max-width:700px) {
            .hero h1 {
                font-size: 35px;
                padding: 0 0 10px 0;
            }

            .hero span {
                font-size: 35px;
                padding: 10px 0 0 0;
            }

            .indicaciones {
                font-size: 15px;
            }

            .img-pasos {
                width: 100px;
                height: 100px;
            }

            .tutorial {
                height: 100px;
                padding: 30px;
            }

            @media (max-width:550px) {
                .tutorial {
                    height: 165px;
                }
            }

            @media (max-width: 455px) {
                .hero h1 {
                    font-size: 25px;
                }

                .hero span {
                    font-size: 25px;
                    padding: 0;
                }

                .hero {
                    padding: 0;
                }

                .buscador {
                    margin: 20px 0 20px 0;
                    padding: 0 10px 0 10px;
                    font-size: 15px;
                }

                .item {
                    font-size: 15px;
                    padding: 8px;
                }

                .tutorial h2 {
                    font-size: 20px;
                }
            }
        }
    }

    /*!---ADAPTATIVE QUIENES SOMOS---!*/

    @media (max-width:1000px) {
        main img {
            width: 350px;
            height: 350px;
        }

        .texto-uno {
            font-size: 20px;
        }

        .texto-dos {
            font-size: 20px;
        }
    }

    @media (max-width:750px) {
        .titulo-quienessomos {
            font-size: 35px;
            margin-bottom: 30px;
        }

        main img {
            width: 300px;
            height: 300px;
        }

        .texto-uno {
            font-size: 15px;
        }

        .texto-dos {
            font-size: 15px;
        }
    }

    @media (max-width:650px) {
        main img {
            width: 200px;
            height: 200px;
        }

        .titulo-quienessomos {
            font-size: 25px;
        }
    }

    @media (max-width:500px) {
        .titulo-quienessomos {
            font-size: 25px;
            margin-bottom: 20px;
        }

        main img {
            width: 160px;
            height: 160px;
        }

        .texto-uno {
            font-size: 12px;
        }

        .texto-dos {
            font-size: 12px;
        }
    }
}

/*!-----ADAPTATIVE REGISTRAR-----!*/
@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    .formulario-registro .caja {
        margin-bottom: 15px;
        width: 100%;
    }

    .categoria {
        width: 100%;
    }

    .contenido form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .formulario-registro::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .contenido .categoria {
        flex-direction: column;
    }
}