footer {
    background-color: rgb(171, 169, 169);
    font-family: sans-serif;
    padding-top: 10px;

    div{
        display: flex;
        justify-content: space-evenly;

        div{

            ul{
                list-style: none;

                li{

                    a{
                        text-decoration: none;
                        color: black;
                        display: block;
                        margin-bottom: 16px;
                    &:hover{
                        color: black;
                    }
                    }
                }
            }
        }
        
        div{
            a{
                img {
                    width: 30px;
                    height: 30px;
                    margin: 5px;
                    
                    
                }
            }
        }
    }
}