header{

    nav{
        background-color: gray !important;
        padding: 20px 0 20px 0;
        }
        div{

            a{

                img{
                    width: 100px;
                    height: 100px;
                }
                }
            button{

                span{

                }
                }
            div{
                flex-grow: 0;
                ul{

                    li{

                        a{
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
